.flash-red {
    background-color: red !important;
}

.alert-title {
    font-size: 1.5em;
    color: red;
    margin-bottom: 10px;
}

.alert-desc {
    font-size: 1.2em;
    color: black;
    margin-bottom: 20px;
}

.history-header {
    font-size: 1.3em;
    margin-top: 20px;
}

.history-list {
    list-style-type: none;
    padding-left: 0;
}

.history-list li {
    margin-bottom: 5px;
}

.no-history {
    font-size: 1.2em;
    color: gray;
    margin-top: 20px;
}
