.flash-red {
    background-color: red !important;
    transition: background-color 0.5s ease;
}

.MMM-RocketAlerts .alert {
    padding: 10px;
    border: 2px solid red;
    background-color: #ffe6e6;
    margin-bottom: 15px;
    border-radius: 5px;
}

.MMM-RocketAlerts .history {
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.MMM-RocketAlerts .history h3 {
    margin-bottom: 10px;
}
